---
layout: default
title: Contact
heading: Contact
h2: Contact Me
id: contact
---
		{% include subpage-header.html %}

		{% include subpage-heading.html %}
				<div class="row">
					<div class="col-md-12 col-md-offset-0">
						<div class="row">
							<div class="col-md-4 animate-box">
								<h3>My Address</h3>
								<ul class="contact-info">
									<li><span><i class="icon-map5"></i></span>19, Pragati Nagar, Shobhagpura, Udaipur</li>
									<li><span><i class="icon-phone4"></i></span>+ 91-9001247030</li>
									<li><span><i class="icon-envelope2"></i></span><a href="#">chitransh.valawat@gmail.com</a></li>
									<li><span><i class="icon-globe3"></i></span><a href="#">www.lakebrains.com</a></li>
								</ul>
							</div>
							<div class="col-md-7 col-md-push-1 animate-box">
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<textarea name="" class="form-control" id="" cols="30" rows="7" placeholder="Message"></textarea>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="Name">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="Email">
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<input type="submit" value="Send Message" class="btn btn-primary">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
